.button {
    -fx-padding: 8 15 15 15;

    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 16;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #1360a3 0%, #124d90 100%),
    #243c9d,
    #3a8ed8,
    radial-gradient(center 50% 50%, radius 100%, #588be7, #2c69c5);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #135ba3 0%, #124290 100%),
    #245c9d,
    #3a54d8,
    radial-gradient(center 50% 50%, radius 100%, #4badea, #2c6ec5);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.text-area {

    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: #2c73c5;

}
.B2048{
-fx-border-radius: 10;
    -fx-background-color: Blue;
}
.label{
    -fx-font-size: 20;
    -fx-font-family: 'Trebuchet MS', sans-serif;
}
